<main>

  <% if @current_user %>
    <h1>Welcome <%= @current_user.fname %>!</h1>

    <% if @following_posts %>
    <h2>FEED</h2>
    <ul>
    <% @following_posts.each do |post| %>
      <li class="post">
        <a href=<%= "/user/#{ post.user_id }" %>>
          <%= "#{ post.user.fname } #{ post.user.lname }" %>
        </a>  says,
        <p class="post-text"><%= post.text %></p>
        <small><%= post.created_at %></small>
      </li>
    <% end %>
    </ul>
    <% end %>

    <% if @following %>
    <h2>Following</h2>
    <ul>
      <% @following.each do |leader| %>
      <li>
        <a href=<%= "/user/#{ leader.id }" %>>
          <%= "#{ leader.fname } #{ leader.lname }" %>
        </a>
      </li>
      <% end %>
    </ul>
    <% end %>

    <% if @followers %>
    <h2>Followers</h2>
    <ul>
      <% @followers.each do |follower| %>
      <li>
        <a href=<%= "/user/#{ follower.id }" %>>
          <%= "#{ follower.fname } #{ follower.lname }" %>
        </a>
      </li>
      <% end %>
    </ul>
    <% end %>
  <% else %>
    <h1>NOT LOGGED IN</h1>
    <form action="/login" method="POST">

      <input
        type="email"
        name="email"
        placeholder="Email">

      <input
        type="password"
        name="password"
        placeholder="Password">

      <input type="submit">

    </form>
  <% end %>
</main>
