<main>
  <h1><%= @user.fname %>'s Profile</h1>

  <% if @profile && (@current_user.id == @profile.user_id) %>

    <form method="POST" action="/profile/new">
      <textarea
        name="[profile]bio"
        placeholder="Write your bio here"
        cols=50
        rows=20>
        <% if @profile %>
          <%= @profile.bio %>
        <% end %>
      </textarea>

      <input type="submit" value="Create Profile">
    </form>

  <% else %>
  
    <% if @follow %>
      <a href=<%= "/follow/#{ @follow.id }/delete" %>>UnFollow</a>
    <% else %>
      <a href=<%= "/user/#{ @user.id }/follow" %>>Follow</a>
    <% end %>

    <% if @profile %>
      <p><%= @profile.bio %></p>
    <% else %>
      <span>This user did not fill out his bio</span>
    <% end %>

  <% end %>

  <% if @posts %>
  <ul>
  <% @posts.each do |post| %>
      <li>
        <p><%= post.text %></p>
        <small><%= post.created_at %></small>

        <% if @current_user && @current_user.id == post.user_id %>
          <a class="delete-button"
             href=<%= "/post/#{ post.id }/delete" %>>DELETE</a>
        <% end %>
      </li>
  <% end %>
  </ul>
  <% end %>
</main>
